
<div>
    <h1>DELIGHT</h1>
<h2> WEEKEND SPECIALS</h2>
<table>
    <tbody>
        <tr align="center"><b><u>MENU</u></b></tr>
        <tr> 
            <td>Item Name</td> 
            <td>Price($)</td>
            <td>Quantity</td>
            <td>&nbsp;</td>
        </tr>
        <tr *ngFor="let row of items">
            <td>{{row.itemName}}</td>
            <td>${{row.itemCost}}</td>
            <td><input type="number" [(ngModel)]="row.itemQuantity"></td>
            <td><button (click)="updateCartItems()">Add to Cart</button></td>
        </tr>
    </tbody>
</table>
<button (click)="goToCheckout()">Checkout</button>

</div>

<!-- <button *ngIf="showCart" (click)="showCart = !showCart">Back</button> -->
<!-- <app-cart *ngIf="showCart" [cartItems]="selectedItems" (timer)="timerExpired()"></app-cart> -->
